@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';


@font-face {
  font-family: "fontArmenian";
  src: url('./assets/ArTarumianKamar-Regular.ttf') format('truetype');  
} 

.slide {
  transition: 0.5s;
}

.box {
  max-height: 162px;
  transition: max-height 0.3s cubic-bezier(0, 1, 0, 1);
}

.box.open {
  max-height: 100rem;
  transition: max-height 0.3s cubic-bezier(0.9, 0, 0.8, 0.2);
}

.truncate-4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  animation: close 0.1s linear 0.1s forwards;
}
.open .truncate-4 {
  animation: open 0.1s linear 0s forwards;
}


@keyframes open {
  from {
    line-clamp: 4;
    -webkit-line-clamp: 4;
  }
  to {
    line-clamp: initial;
    -webkit-line-clamp: initial;
  }
}

@keyframes close {
  from {
    line-clamp: initial;
    -webkit-line-clamp: initial;
  }
  to {
    line-clamp: 4;
    -webkit-line-clamp: 4;
  }
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

input:focus, button:focus {
  @apply ring;
}

input:focus, button:focus {
  @apply outline-none
}

body  {
  font-family: "fontArmenian";
  @apply font-medium
} 